.home{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.carrossel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .carrossel {
        justify-content: center;
        gap: 2rem;
    }
}