@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.menuNav {
    background-color: steelblue;
    height: 100%;
    width: 70vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    gap: 4rem;

    transform: translateX(100%); 
    transition: transform 0.4s ease ;
}

.menuNav.Open {
    transform: translateX(0); 
}
.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.lista li {
    list-style-type: none;
}

.lista a {
    text-decoration: none;
    color: white;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.4rem;
}

.div-chevron{
    border: solid 2px white;
    border-radius: 50%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0.3rem;

}