.login-container {
  background-color: steelblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

.login-content {
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.campo-digitacao {
  border-radius: 8px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  height: 35px;
  padding: 0 10px;
}