.login-container {
  background-color: steelblue;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

.login-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.campo-digitacao {
  border-radius: 8px;
  height: 35px;
  padding: 0 10px;
  border: 1px solid gray;
}

.checkbox-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.logo-login{
  margin: 0 auto;
}

.erro-mensagem {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}