* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container{
  display: flex ;
  flex-direction: column;
  margin: 0rem 0rem;
}

.banner{
  object-fit: cover;
  width: clamp(260px, 50vw, 600px);
  margin: 0 auto;
}
