.descricao{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.6rem;
    margin-bottom: 1rem;

}

.paragrafoDescricao {
    width: 11/12;
    margin: auto;
    font-size: 15px;
}

.tituloDescricao {
    font-size: 1.3rem;
    font-weight: bold;
    color: #4682b4;
    
}
