*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerModal{
    color:white;
    display: none;
    flex-direction: column;
    gap: 1px;
    margin-top: 10px;
    height: 100dvh;
    min-width: 100%;
}
.linkFiltro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: steelblue;
    padding: 5px;
}

.linkFiltro h2{
    font-size: 14px;
}